.contact {
    min-height: auto;
    padding-bottom: 7rem; 
 }
 
 form {
     max-width: 70rem;
     margin: 0 auto;
     text-align: center;
 }
 
 .input-box {
     position: relative;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .input-field {
     position: relative;
     width: 49%;
     margin: .8rem 0;
 }
 
 input,
 textarea {
     height: 100%;
     width: 100%;
     padding: 1.5rem;
     font-size: 1.6rem;
     color: var(--text-color);
     background: transparent;
     border-radius: .6rem;
     border: .2rem solid var(--main-color);
 }
 
 input::placeholder,
 textarea::placeholder {
     color: var(--text-color);
 }
 
 .contact form .focus {
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: var(--bg-second);
     border-radius: .6rem;
     z-index: -1;
 }
 
 .input-field input:focus~.focus,
 .input-field input:valid~.focus,
 .textarea-field textarea:focus~.focus,
 .textarea-field textarea:valid~.focus {
     width: 100%;
 }
 
 .contact form .textarea-field {
     position: relative;
     display: flex;
     margin: .8rem 0 2.7rem;   
 }
 
 .textarea-field textarea {
     resize: none;
 }