<section class="about" id="about">
    <h2 class="heading"> About <span>Me</span>
    </h2>

    <div class="about-content">
      <h3>Computer Science Undergraduate</h3>
      <p>I am an energetic and ambitious second-year computer science undergraduate with an 
        understanding of both front-end and back-end development in addition to a strong understanding 
        of machine learning. As a critical thinker and a fast learner, I am willing to take up any new 
        challenges coming my way.</p>
        
      <div class="btn-box abt">
        <a href="#" class="btn">Read More</a>
      </div>
    </div>
</section>