  <section class="education" id="education">
    <h2 class="heading">My <span>Journey</span></h2>

    <div class="education-row">
      <div class="education-column">
        <h3 class="title">Education</h3>

        <div class="education-box">

          <div class="education-content">
            <div class="content">
              <div class="year"><i class='bx bxs-calendar'></i> 2022 - 2026</div>
              <h3>Reading B.S.c (HONS). in Computer Science</h3>
              <p>Informatics Institute of Technology affiliated to University of Westminster</p>
            </div>
          </div>

          <div class="education-content">
            <div class="content">
              <div class="year"><i class='bx bxs-calendar'></i> 2008 - 2021</div>
              <h3>St Peters College - Colombo 04</h3>
              <br>
              <h4>G.C.E Ordinary Level Examination 2018 (English Medium)</h4>
              <p>7A's & 2 B's with A passes for Mathematics and English</p>
              <br><br>
              <h4>G.C.E Advanced Level Examination 2021(22) - Physical Science Stream (English Medium)</h4>
              <p>• Physics - C <br>  • Chemistry - C <br> • Combined Mathematics - C</p>
          </div>
          </div>
          </div>
        </div>
      </div>

      <div class="education-column">
        <h3 class="title">Certificates and Courses</h3>

        <div class="education-box">

          <div class="education-content">
            <div class="content">
              <div class="year"><i class='bx bxs-calendar'></i> 2022</div>
              <h3>Certificate Course : Python — 3 Programming</h3>
              <p>Sri Lanka Institute of Information Technology</p>              
            </div>
          </div>

          <div class="education-content">
            <div class="content">
              <div class="year"><i class='bx bxs-calendar'></i> 2022 - 2023</div>
              <h3>Java Developement Course</h3>
              <p>Institute of Computer Engineering Technology</p>              
            </div>
          </div>

          <div class="education-content">
            <div class="content">
              <div class="year"><i class='bx bxs-calendar'></i> 2023</div>
              <h3>Professional Certificate in Machine Learning</h3>
              <p>Informatics Institute Of Technology (PDU)</p>              
            </div>
          </div>
        </div>
      </div>
  </section>  
