<section class="intro" id="intro">
    <div class="intro-content">
      <h1>Hi, I'm <span>Evin</span></h1>
      <div class="text-animate">
        <h3>Computer Science Student</h3>
      </div>
      <p>on a quest to conquer the digital world, one line of code at a time. 
        This is my portfolio, where I showcase my projects
        and hopefully, ignite a spark of tech-fueled wonder in you.
      
      <div class="contact-icons">
        <a href="https://www.linkedin.com/in/evin-handapangoda-803143241/"><i class='bx bxl-linkedin' ></i></a>
        <a href="https://github.com/EvinHandapangoda"><i class='bx bxl-github' ></i></a>
      </div>
      <a href="assets/Evin_Handapangoda_CV.pdf" class="btn" download="">Download CV</a>
    </div>

    <div class="img-outer">
      <img src="../../../assets/images/home-img.png" alt="">
    </div>
</section>

